header,
#about {
    background-color: #0d9e6e;
}

footer {
    background-color: #333132;
    background-image: url(../bsImages/backgrounds/scallopWhite.png);
    background-repeat: repeat-x;


}

#about {
    background-image: url(../bsImages/backgrounds/Abstract-blue_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
body{
    background-image: url(../bsImages/backgrounds/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}